html, body {
	margin: 0;
	padding: 0;
	background-color: #111;
	font-family: monospace;
	color: white;
}
canvas {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(3.0);
	image-rendering: pixelated;
	display: block;
}
